<Configuration status="debug" name="your-project" packages="">
    <Appenders>

        <!-- Console logging  -->
        <Console name="stdout" target="SYSTEM_OUT">
            <!-- Console logging pattern -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>

        <!-- Rolling file logging with a new folder for each new month -->
        <RollingFile 
            name="RollingFile"
            fileName="/log/pv-analyzer/logs/logger.log" 
            filePattern="/log/pv-analyzer/logs/$${date:yyyy-MM}/logger-%d{-dd-MMMM-yyyy}-%i.log.gz"
        >
            <PatternLayout>
                <!-- RollingFile logging pattern -->
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>

                <!-- Enable RollingFile logging at application startp -->
                <OnStartupTriggeringPolicy />

                <!-- Maximum size constraint -->
                <SizeBasedTriggeringPolicy size="10 MB" />

            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>